<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".ApplicationClass"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:forceDarkAllowed="false"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31" >
        <activity
            android:name=".PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".account.OrderDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".home.ProductViewActivity"
            android:exported="false" />
        <activity
            android:name=".entry.ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".entry.OtpVerificationActivity"
            android:exported="false" />
        <activity
            android:name=".account.WishlistActivity"
            android:exported="false" />
        <activity
            android:name=".account.MyOrdersActivity"
            android:exported="false" />
        <activity
            android:name=".home.HomeScreen"
            android:configChanges="uiMode"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".entry.SplashScreenActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" >
        </activity>
    </application>

</manifest>